<!DOCTYPE html>
<html ng-app="csstheme">

<head>
  <script src="/scripts/middleware/angularjs.min.js"></script>
  <script src="/scripts/middleware/tinycolor.min.js"></script>
  <script src="/scripts/middleware/angularjs-color-picker.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers/mainController.js"></script>
  <script src="scripts/directives/tabContentDirective.js"></script>
  <link rel="stylesheet" type="text/css" href="scripts/styles/style.css">
  <link rel="stylesheet" type="text/css" href="scripts/styles/angular-color-picker.css">
  </script>
</head>

<body ng-controller="mainController">
  <div class="top">
    <div class="button-content">
      <button id="btnSubmit" ng-click="submit()">Submit</button>
      <button id="btnReset" ng-click="reset()">Reset</button>
    </div>
    <label id="status">{{vm.status}}</label>
  </div>
  <div class="bottom flex align-top">
    <div class="column">
      <div class="tab" ng-repeat="category in categories" id="{{category.id + 'Tab'}}"
        ng-click="selectCategory(category)" ng-class="{'selected': selectedCategory.id === category.id}">
        {{category.title}}
      </div>
    </div>
    <div class="column">
      <tab-content ng-repeat="category in categories" tab="category" ng-show="selectedCategory.id === category.id">
      </tab-content>
    </div>
  </div>
</body>

</html>